<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Documentation" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= partial "layouts/include_bootstrap" %>
    <%= javascript_include_tag "site" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
});
</script>

  </head>
  <body>

    <!-- Bootstrap also requires a containing element to wrap site contents. -->
    <div class="container-fluid" style="text-align:left">

<!-- see http://fullscreen.github.io/bh/#navbars -->
<% navbar position: :top,  inverted: false do %>
  <% vertical do %>
    <a href="/index.html" class="navbar-brand">Home</a>
    <!--%= link_to 'Home2', '/index.html' %-->
  <% end %>
  <% horizontal do %>
    <% nav class: 'navbar-right' do %>
      <!--%= link_to 'Presentations', '/pages/presentations/index.html' %-->
      <li><a href="/pages/wiki/index.html">Wiki</a></li>
      <li><a href="/pages/dictionary/index.html">Dictionary</a></li>
      <li><a href="/pages/presentations/index.html">Presentations</a></li>
      <li><a href="/pages/papers/index.html">Papers</a></li>
      <li><a href="/pages/blog/index.html">Blog</a></li>
      <li><a href="/pages/mail/index.html">Mail</a></li>
      <li><a href="/pages/tickets/index.html">Tickets</a></li>
      <li><a href="/pages/api/index.html">API-SourceDoc</a></li>
    <% end %>
  <% end %>
<% end %>

    <%= yield %>

    </div>

  </body>
</html>
