<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Documentation" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag(bootstrap_css scheme: 'https') %>
    <%= stylesheet_link_tag(font_awesome_css scheme: 'https') %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>



<% navbar do %>
  <% vertical do %>
    <a href="/index.html">Home</a> <!--%= link_to 'Home', '/index.html' %-->
  <% end %>
  <% horizontal do %>
    <% nav class: 'navbar-right' do %>
      <!--%= link_to 'Presentations', '/pages/presentations/index.html' %-->
      <a href="/pages/wiki/index.html">Wiki</a>
      <a href="/pages/mail/index.html">Mail</a>
      <a href="/pages/presentations/index.html">Presentations</a>
      <a href="/pages/dictionary/index.html">Dictionary</a>
      <a href="/pages/blog/index.html">Blog</a>
      <a href="/pages/bugs/index.html">Bugs</a>
      <a href="/pages/review/index.html">Code review</a>
      <a href="/pages/code/index.html">Code doc</a>
    <% end %>
  <% end %>
<% end %>

    <%= yield %>
  </body>
</html>
